
import("ffmpeg")

importFrom("xml2",
           "read_xml",
           "xml_attr",
           "xml_children",
           "xml_find_first",
           "xml_find_all",
           "xml_root",
           "xml_text")

importFrom("tuneR",
           "Wave",
           "readMP3",
           "readWave",
           "writeWave",
           "prepComb",
           "bind")

importFrom("av",
           "read_audio_bin")

export("makeMovie",

       "setting",
       "localLinux",
       "localWindows",
       
       "TTS",
       "espeakTTS",
       "pollyTTS",

       "directorWorld",
       "realWorld",
       "dockerWorld")
